<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
<parameter name="Username" value="Srinivasan"/>
<parameter name="Searchkey" value="Core Java"/>
  <test thread-count="5" name="Test1">
  <parameter name="Username" value="Srini"/>
 <!--   <groups>
    <run>
       <include name="sanity"/>
       <include name="regression"/>
    </run>
  </groups>
 --> 
    <classes>
      <class name="pkg.TestNG1"/>           
    </classes>
  </test> <!-- Test -->
  
 </suite> <!-- Suite -->
